

.wrapper .input-box {
    position: relative;
    width: 90%;
    padding-left: 30px;
    height: 40px;
    margin: 10px 0;
}

.barcode-result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.siguiente1{
    margin-top: 10%;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 60%;
    height: 40px;
    background: #ee7f24;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.labelcam {
    text-align: center; 
    color: rgb(173, 180, 201);
    font-size: 24px;
    margin-top: 5px;
}

.parati {
    width: 90%;
    max-height: 150px; 
    margin-top: 80px;
    margin-bottom: 72px;
    margin-left: 20px; 
  }

.cam, .placa {
    display: block; 
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto 10px; 
}

.top {
    max-width: 350px;
    max-height: 170px;
    display: block; 
    margin: 0 auto 10px; 
}

.topslide {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
}

.wrapper .header{
    position: relative;
    width: 80%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: space-between;
    
}

.image-box {
    width: 45%;
    border: 1px solid #630798;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    
}

.image-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.image-box2 {
    width: 45%;
    border: 1px solid #630798;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    
}

.image-box2 img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.labelcam {
    display: block;
    color: #3b0a6a;
    font-size: 18px;
    margin-top: 5px;
    text-align: center; 
    cursor: pointer;
}
.caplaca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px; 
}

.textPlaca {
    font-size: 16px; 
    margin-bottom: 10px; 
    color: #340779;
}

.InputPlaca {
    padding: 8px 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 14px;
    width: 250px; 
    box-sizing: border-box; 
    text-align: center;
}

.InputPlaca:focus {
    outline: none;
    border-color: #6e54ff; 
    box-shadow: 0 0 5px rgba(110, 84, 255, 0.5); 
}

.InputPlaca::placeholder {
    color: #999; 
    text-align: center;
}

.InputPlaca:hover {
    border-color: #999; 
}
