
.wrapper3{ 
    width: 420px;
    height: 100vh;
    background-image: url("../../../public/images/fondolector.png");
    background-color: white;
    background-size: 500px 470px;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.barcode-result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #c4c4c4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.siguiente1{
    background: #69757b;
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(234, 203, 26);
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.siguiente1:hover{
    color: #69757b;
    background: rgb(234, 203, 26);
}

.cam, .placa {
    display: block; 
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto 10px; 
    cursor: pointer;
}

.image-container {
    margin-bottom: 6vh;
    width: 100%;
    border-bottom: 3px solid rgb(24, 24, 59);
    border-top: 3px solid rgb(24, 24, 59);
}

.image-box2 {
    width: 45%;
    border: 1px solid #630798;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.image-box2 img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.labelcam {
    display: block;
    color: #5a565e;
    font-size: 1.3em;
    text-align: center; 
    cursor: pointer;
    margin-bottom: 20px;
}
.caplaca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px; 
}
.flechitaAtraslector{
    width: 30px;
    cursor: pointer;
}

.textPlaca {
    font-size: 1.2em; 
    margin-bottom: 15px; 
    color: #4b494e;
}

.InputPlaca {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.4em; 
    text-align: center;
    margin-bottom: 30px;
}

.InputPlaca:focus {
    outline: none;
    border-color: #dab915; 
    box-shadow: 0 0 5px rgba(150, 155, 10, 0.647); 
}

.InputPlaca::placeholder {
    color: #999; 
    text-align: center;
}

.InputPlaca:hover {
    border-color: #999; 
}
