#file {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 20px;
    margin-left: 50px;
    margin-top: 25px;
  }
  
.wrapper .input-box{
    position: relative;
    width: 90%;
    padding-left: 30px;
    height: 40px;
    margin: 10px 0;
}

.input-box select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px; 
    background-color: #4a1b6c; 
    color: #ffffff; 
    cursor: pointer;
}

.input-box select option {
    background-color: #ffffff; 
    color: #333; 
}

.input-box select:focus {
    box-shadow: 0 0 5px #8642ad; 
    border-color: #8434b2; 
}

.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    background-color: #e5e1e1;
}
.input-box input::placeholder{
    color: rgb(85, 83, 83);
}

.labeldoc{
    padding-left: 27%;
    color: rgb(0, 0, 0);
}

.labeltype{
    padding-left: 30%;
    color: rgb(9, 10, 10);
}
.parati {
    width: 90%;
    max-height: 150px; 
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 50px; 
  }

.top {
    max-width: 350px; 
    max-height: 170px; 
}

.topslide {
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 200px; 
    height: auto; 
}

.siguiente0 .flechita{
    padding-left: 7px;
    max-width: 30px; 
    max-height: 70px; 
}
.wrapper .siguiente0 {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 80px;
    width: 60%;
    height: 40px;
    background: #ee7f24;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
}
/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .parati {
        margin-top: 40px;
        margin-bottom: 60px;
        margin-left: 20px;
        max-width: 90%;
        max-height: auto;
    }
    
    .top {
        max-width: 200px;
        max-height: 100px;
    }
    
    .topslide {
        width: 150px;
    }
    
    .wrapper .siguiente0 {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 20px;
        width: 80%;
        font-size: 20px;
    }
    
    .labeldoc {
        padding-left: 10%;
    }
    
    .labeltype {
        padding-left: 15%;
    }
}

/* Estilos para pantallas medianas y grandes */
@media screen and (min-width: 601px) {
    .parati {
        margin-top: 80px;
        margin-bottom: 100px;
        margin-left: 50px;
        max-width: 1000px;
        max-height: 150px;
    }
    
    .top {
        max-width: 350px;
        max-height: 170px;
    }
    
    .topslide {
        width: 200px;
    }
    
    .wrapper .siguiente0 {
        margin-top: 100px;
        margin-bottom: 30px;
        margin-left: 80px;
        width: 60%;
        font-size: 30px;
    }
    
    .labeldoc {
        padding-left: 27%;
        
    }
    
    .labeltype {
        padding-left: 30%;
        
    }
}
