
  .wrapper{
    padding: 30px;
    width: 420px;
    height: 100vh;
    background-image: url("../../../public/images/recurso1doc.png");
    background-color: white;
    background-size: 420px 450px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.wrapper .input-box{
    position: relative;
    width: 90%;
    padding-left: 30px;
    height: 40px;
    margin: 10px 0;
}
.input-box select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 10px; 
    background-color: #69757b; 
    text-align: center;
    color: #ffffff; 
    cursor: pointer;
}

.input-box select option {
    background-color: #ffffff; 
    color: #333; 
}

.flechita{
    color: #333;
    cursor: pointer;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.flechita:hover{
    transform: scale(1.1) translate(5px, 5px); 
}

.siguiente0{
    margin-left: 270px;
    margin-top: 30px;
    margin-bottom: 245px;
    border: none;
    width: 53px;
    background-color: #ffffff;
}

.input-box select:focus {
    box-shadow: 0 0 5px #11045b; 
    border-color: #23036a; 
}
.logo-Itegra{
    position:absolute;
    translate: 10px -120px;
    height: 60px;
    margin-left: 250px;
}
.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 20px;
    border: 2px solid #69757b;
    text-align: center;
    margin-bottom: 20px;
}

.input-box input:focus {
    outline: none; /* Quita el contorno predeterminado del navegador */
    border-color: #ffa500; /* Cambia el color del borde cuando está enfocado */
    box-shadow: 0 0 5px #ffa500; /* Agrega una sombra cuando está enfocado */
}

.input-box input::placeholder{
    color: rgb(85, 83, 83);
}

.labeldoc{
    padding-left: 27%;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.labeltype{
    padding-left: 30%;
    color: rgb(9, 10, 10);
    font-weight: 600;
}
.top {
    max-width: 350px; 
    max-height: 170px; 
}
.topslide {
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 200px; 
    height: auto; 
}
.parati{
    width: 380px;
    margin-top: 100px;
    margin-bottom: 20px;
}



