
.wrapper2{ 
    width: 420px;
    height: 100vh;
    background-image: url("../../../public/images/fondodatos.png");
    background-color: white;
    background-size: 500px 470px;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.botones{
    display: flex;
}
.formDtos{
    width: 400px;
}

.formDtos-container{
    text-align: center;
    font-weight: 600;
}
  
.labelname{
    color: rgb(2, 2, 2);
}

.paraDatos {
    max-width: 600px; 
    max-height:100px; 
    margin-top: 5%;
    margin-bottom: 100px;
    margin-left: 50px;
}
.top {
    max-width: 350px; 
    max-height: 170px; 
}
.topslide {
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 200px; 
    height: auto; 
}

.inputname::placeholder {
    color: #69757b;
}
.inputname,
.inputemail{
    width: 80%; 
    border-radius: 8px; 
    padding: 10px; 
    font-size: 1.2em; 
    border: 2px solid #69757b ;
    color: #69757b;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.inputname:focus,
.inputemail:focus {
    outline: none; 
    border-color: #ffa500; 
    box-shadow: 0 0 5px #ffa500; 
}

.inputname::selection,
.inputemail::selection {
    background-color: #ffa500; 
    color: white; 
}

.flechitadatnext{
    width: 50px;
    margin-left: -130px;
    cursor: pointer;
}
.flechitaAtras{
    width: 50px;
    cursor: pointer;
}
.atras{
    margin-top: 30px;
    margin-bottom: 245px;
    margin-left: 30px;
    border: none;
    width: 53px;
    background-color: #ffffff;
}
.siguiente:disabled {
    background-color: #6c757d; 
    background: linear-gradient(90deg,rgb(111, 109, 112),rgb(60, 55, 62));
    cursor: not-allowed; 
}
.error-message {
    color: #ff0000; 
    font-size: 1em; 
    margin-top: 5px; 
}
.terminus{
    display: flex;
    flex-direction: column;
    margin-right: 45px;
    margin-top: 30px;
    margin-bottom: 40px;
    
}
  
.checkbox-label {
    display: flex;
    align-items: center;
}
  input[type="checkbox"] {
    margin-right: 12px; 
    width: 40px;
    height: 40px;
    border: 2px solid #080808;
    background-color: #f3f3f3; 
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}  
.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ccc; 
    border-radius: 4px; 
    outline: none; 
    cursor: pointer; 
    margin-bottom: 10px;
    margin-left: 20px;
}

.checkbox:checked {
    background-color: gray; 
    border-color:#ffa500;
}

.checkbox:checked::after {
    content: '\2714'; 
    font-size: 30px;
    margin-left: 5px;
    color: #ffa500; 
}

  label a {
    text-decoration: none;
    font-size: 0.9em;
    color: rgb(69, 59, 77); 
    font-weight: 100;
  }
  
  label a:hover {
    color: rgb(232, 189, 48); 
  }
  
  